body {
    font-family: sans-serif;
    background: #000;
}

*{
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 40px 0;
}

svg {
    height: 120px;
    width: 200px;
    fill: none;
    stroke: cyan;
    stroke-width: 10;
    stroke-linecap: round;
    -webkit-filter: drop-shadow(-3px -2px 5px rgb(64, 64, 64));
    filter: drop-shadow(-3px -2px 5px rgb(59, 59, 59));
}









#entries {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#dummy,
.eDel,
.eEdit {
    cursor: pointer;
}

#dummy,
.entry {
    border-radius: 15px;
    margin: 15px 0px;
    padding: 20px 10px;
}

#dummy {
    position: absolute;
    bottom: 50px;
    font-weight: 100;
    color: #111;
    background: white;
    display: flex;
    padding: 0 27px;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    letter-spacing: 3px;
    border-radius: 50%;
}


.entry {
    display: flex;
    background: #282828;
    align-items: center;
    font-size: 18px;
    width: 85vw;
}

.eDel,
.eTxt,
.eAmt,
.eEdit {
    padding: 0 10px;
}

.eDel,
.eAmt,
.eEdit {
    font-weight: 700;
}

.eDel {
    color: #d72f2f;
}

.eTxt {
    flex-grow: 1;
}

.eEdit,
.income .eTxt,
.expense .eTxt {
    color: #e1e1e1;
}

.income .eAmt {
    color: rgb(191, 236, 124);
}

.expense .eAmt {
    color: rgb(221, 117, 117);
}

#form {
    position: fixed;
    top: 5vh;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: start;
    justify-content: center;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

#form.show {
    visibility: visible;
    opacity: 1;
}

#form form {
    width: 75vw;
    padding: 50px 20px;
    border-radius: 10px;
    background: #4c4c4c;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formEnd,
#formGo {
    cursor: pointer;
}

#formEnd {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-weight: 700;
    color: #fff;
    background: rgb(221, 117, 117);
}

#formSign {
    width: 72vw;
}

#form label,
#form input {
    display: block;
    width: 65vw;
    border: none;
    text-align: center;
}

#form label {
    margin: 10px 0;
    color: #b3b3b3;
}

#form input,
#form select {
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}
#form select{
    display: none;
}

#formGo {
    margin: 20px 0 0 0;

    border: 0;
    color: #000;
    background: rgb(247, 247, 141);
}

select {
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    -webkit-appearance: none;
    background-position-x: 66vw;
}
